.containter-fluid[role=main]{
  padding-top: 60px;
}

.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}
.row.row-no-gutter {
    margin: 0
}
.row.row-no-gutter [class*="col-"] {
    padding: 0
}
.img-full-width {
    width: 100.5%;
    height: auto;
}
.has-inner .row.row-no-gutter {
    margin-left: -10px;
    margin-right: -10px;
}
.row.row-no-gutter .inner {
    padding-left: 10px;
    padding-right: 10px;
}


body {
  margin:0;
  margin-bottom: 10px;
  padding:0;
  height:100%;
}
#container {
  min-height:100%;
  position:relative;
}
#header {
  background:#ff0;
  padding:20px;
}
#body {
  padding-top:40px;
  padding-bottom:40px;
  margin-bottom: 20px;  /* Height of the footer */
}
#footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:40px;   /* Height of the footer */
  background:#eee;
}


#contenido {

}
/* IE 6 and down:
#container {
height:100%;
}
