{% extends 'base.html' %} {%block title %} vehiculos {% endblock %} {% block formulario %}

<form action="{% url 'borrarVehiculo' instance.pk %}" method="POST" class="my-5">{% csrf_token %}
    <div class="container-fluid">
        <p> ¿Estás seguro que quieres eliminar el vehiculo <b>{{ instance }}</b>? </p>
        <div class="row mb-2">
            <div class="col-md-auto my-2">
                <button type="submit" class="btn btn-danger text-center" name="eliminar">Confirmar</button>
            </div>

            <div class="col-md-auto my-2">
                <a class="btn btn btn-dark text-center " href="{% url 'vehiculos' %} ">Cancelar</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
