{% extends 'base.html' %} {%block title %} Facturas {% endblock %} {%block formulario %}
<br>

<form action="{% url 'borrarFactura' instance.pk %}" method="POST" class="my-5">{% csrf_token %}
    <div class="container-fluid">
        <p> ¿Estás seguro que quieres eliminar la factura <b>{{ instance }}</b>? </p>
        <div class="row mb-2">
            <div class="col-md-auto my-2">
                <button type="submit" class="btn btn-danger text-center" name="eliminar">Confirmar</button>
            </div>

            <div class="col-md-auto my-2">
                <a class="btn btn btn-dark text-center " href="{% url 'facturas' %} ">Cancelar</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}