{% extends 'base.html' %} {%block title %} Consulta facturas {% endblock %} {% block formulario %}<br>
<br>

<form action="{% url 'borrarPuesto' instance.pk %}" method="POST" class="my-5">{% csrf_token %}
    <div class="container-fluid">
        <p> ¿Estás seguro que quieres eliminar el Puesto <b><b>{{ instance }}</b></b>? </p>
        <div class="row mb-2">
            <div class="col-md-auto my-2">
                <button type="submit" class="btn btn-danger text-center" name="eliminar">Confirmar</button>
            </div>

            <div class="col-md-auto my-2">
                <a class="btn btn btn-dark text-center " href="{% url 'Puestos' %} ">Cancelar</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
