{%extends "base.html" %}

{%block title %} consulta faturas {% endblock %}

{% load crispy_forms_tags %}
{%block formulario %}
{% if error %}
<div class="alert alert-danger" role="alert">
    <p class=error><strong>Error:</strong> {{ error }}
</div> {% endif %}

<body>
  <div class="container text-center pt-5">
    <h1>Editar información ConsultaFactura</h1>
    <p>Introduce la información del ConsultaFactura</p>
    <div class='jumbotron'>
      <form action="{% url 'editarConsultaFactura' item_id=item_id %}" method="post">
        {% csrf_token %} {{ form|crispy }}
        <br>
        <center><button type="submit" class="btn btn-success btn-lg">Editar</button></center>
      </form>
    </div>
  </div>

</body>
{% endblock %}
