{%extends "base.html" %}

{%block title %} GranaCar {% endblock %}

{%block titulo %}  {% endblock %}
{%block formulario %}

<body>
  {% if error %}
  <br>
  <div class="alert alert-danger" role="alert">
    <p class=error><strong>Error:</strong> {{ error }}
  </div> {% endif %}

  <div class="container text-center pt-5">
    <h1>Editar empleado</h1>
    <p>Introduce la información del empleado</p>
    <div class='jumbotron'>
      <form action="{% url 'editarEmpleado' item_id=item_id %}" method="post">
        {% csrf_token %}
        {% for field in register_form %}
        <div class='form-group'>
          <label for="{{ field.name }}">{{ field.label }}</label>
          {{ field }}
        </div>
        {% endfor %}
        <br>
        <center><button type="submit" class="btn btn-success btn-lg">Editar empleado</button></center>
      </form>
    </div>
  </div>


{% endblock %}