{%extends "base.html" %}

{%block title %} consultaFacturas {% endblock %}

{%block titulo %}  {% endblock %}
{%block contenido %}

<div class="container text-center pt-5">
    <h1>Lista de consultaFacturas</h1>
      <a class="btn btn-success btn-lg" href="crearConsultaFactura">Añadir consultaFactura</a>
      <br>
      <br>
      <table  class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Balance Financiero</th>
            <th>Factura</th>           
          </tr>
        </thead><tbody>
          {% for item in items %}
          <tr>
            <td>{{ item.balanceFinanciero }}</td>
            <td>{{ item.factura }}</td>            
            <td> 
              <center>
                 {% csrf_token %}
                  <a class="btn btn-info btn-sm" href="/editarConsultaFactura/{{ item.pk }}">Editar</a>
              </center>
            </td>
            <td> 
              <center>
                {% csrf_token %}
                 <a class="btn btn-danger btn-sm" href="/borrarConsultaFactura/{{ item.pk }}">Borrar</a>
              </center>
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


{% endblock %}
