{%extends "base.html" %} {%block title %} Producto {% endblock %} {%block titulo %} {% endblock %} {%block contenido %}<br>
<br>

<div class="container text-center pt-5">
    <h1>Lista de productos</h1>
    <a class="btn btn-success btn-lg" href="crearProducto">Añadir producto</a>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">

                <form method="get">
                              <table><tr>
          {% for field in myFilter.form %}
                    <td>{{ field.label }}</td> <td> {{ field }}</td> <td> &nbsp&nbsp&nbsp&nbsp  </td>
                    {% if forloop.counter|divisibleby:"2" %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
            </tr>
          </table>
          <br>

                    <button class="btn btn-primary" type="submit">Buscar</button>
                </form>

            </div>
        </div>
        <br>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Factura</th>
                    <th>IDProducto</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio (en €)</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.factura }}</td>
                    <td>{{ item.idProducto }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>{{ item.precio }}</td>
                    <td>
                        <center>
                            {% csrf_token %}
                            <a class="btn btn-info btn-sm" href="/editarProducto/{{ item.pk }}">Editar</a>
                        </center>
                    </td>
                    <td>
                        <center>
                            {% csrf_token %}
                            <a class="btn btn-danger btn-sm" href="/borrarProducto/{{ item.pk }}">Borrar</a>
                        </center>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}