{%extends "base.html" %} {%block title %} Consulta Informe Contables {% endblock %} {%block contenido %}

<div class="container text-center pt-5">
    <h1>Lista de balanace financieros</h1>
    <a class="btn btn-success btn-lg" href="crearBalanceFinanciero">Añadir balance financiero</a>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">

                <form method="get">
                              <table><tr>
          {% for field in myFilter.form %}
                    <td>{{ field.label }}</td> <td> {{ field }}</td> <td> &nbsp&nbsp&nbsp&nbsp  </td>
                    {% if forloop.counter|divisibleby:"2" %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
            </tr>
          </table>
          <br>

                    <button class="btn btn-primary" type="submit">Buscar</button>
                </form>

            </div>
        </div>
        <br>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>idBalance</th>
                    <th>Fecha realización</th>
                    <th>Total gastos(€)</th>
                    <th>Total ingresos(€)</th>
                    <th>Bienes Actuales(€)</th>
                    <th>Deudas(€)</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.idBalance }}</td>
                    <td>{{ item.fecha_realizacion }}</td>
                    <td>{{ item.total_gastos }}</td>
                    <td>{{ item.total_ingresos }}</td>
                    <td>{{ item.bienes_actuales }}</td>
                    <td>{{ item.deudas }}</td>
                    <td>
                        <center>
                            {% csrf_token %}
                            <a class="btn btn-info btn-sm" href="/editarBalanceFinanciero/{{ item.pk }}">Editar</a>
                        </center>
                    </td>
                    <td>
                        <center>
                            {% csrf_token %}
                            <a class="btn btn-danger btn-sm" href="/borrarBalanceFinanciero/{{ item.pk }}">Borrar</a>
                        </center>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}