{%extends "base.html" %}

{%block title %} vehiculos {% endblock %}
{% load crispy_forms_tags %}
{% block formulario %}<br>

<body>
{% if error %}
<br>
<div class="alert alert-danger" role="alert">
    <p class=error><strong>Error:</strong> {{ error }}
</div> {% endif %}

  <div class="container text-center pt-5">
    <h1>Registro nuevo vehiculo</h1>
    <p>Introduce la información del vehiculo</p>
    <div class='jumbotron'>
      <form action="{% url 'crearVehiculo' %}" method="post">
        {% csrf_token %} {{ form|crispy }}
        <br>
        <center><button type="submit" class="btn btn-success btn-lg">Guardar</button></center>
      </form>
    </div>
  </div>

</body>
{% endblock %}
